<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811996542010-6r7pgkfmjul90sce7g5i1iltac2b26q8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811996542010-6r7pgkfmjul90sce7g5i1iltac2b26q8</string>
	<key>API_KEY</key>
	<string>AIzaSyByu-TX6y23MaTBOugtEr1a2-7w1z_VSAM</string>
	<key>GCM_SENDER_ID</key>
	<string>811996542010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.study.finalterm</string>
	<key>PROJECT_ID</key>
	<string>finalterm-3de06</string>
	<key>STORAGE_BUCKET</key>
	<string>finalterm-3de06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811996542010:ios:f8cc29182c60147ef7f103</string>
</dict>
</plist>